{% load static  %}

<!-- HOME -->
	<div id="home">
		<!-- container -->
		<div class="container">
			<!-- home wrap -->
			<div class="home-wrap">
				<!-- home slick -->
				<div id="home-slick">

					{%  for ps in products_slider %}

					<!-- banner -->
					<div class="banner banner-1">
						<img src="{{ ps.image.url}}" alt="" style="height: 600px">
						<div class="banner-caption text-center">
							<h1>{{ ps.title }}</h1>
							<h3 class="white-color font-weak">$ {{ ps.price}}</h3>
		   					<a href="/product/{{ ps.id }}/{{ ps.slug }}" class="primary-btn" >Shop Now</a>
							
						</div>
					</div>
					<!-- /banner -->

					{% endfor %}


				</div>
				<!-- /home slick -->
			</div>
			<!-- /home wrap -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOME -->
