{% extends "base.html" %}
{% block title %} Shop Cart {% endblock %}

{% block content %}





    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">Shopcart Product List</h3>
                        </div>
                        <table class="shopping-cart-table table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Total</th>
                                <th class="text-right"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for pl in shopcart %}
                                <tr>
                                    <td class="thumb"><img src="{{pl.product.image.url }}" alt=""></td>
									<td class="details"> <a href="/product/{{ pl.product.id }}/{{ pl.product.slug }}">{{pl.product}}</a>  
										
										<ul>
											<li><span> Size : XL </span></li>
											<li><span> Color : Camelot </span></li>

										</ul>
									
									</td>
                                    <td class="price text-center"><strong> $ {{ pl.product.price }} </strong></td>
                                    <td class="qty text-center"><strong>{{pl.quantity}}</strong></td>
                                    <td class="total text-center"><strong class="primary-color">$ {{ pl.amount }}</strong></td>
                                    <td class="text-right"><a href="/order/deletefromcart/{{ pl.id }}" onclick="return confirm('Delete ! Are you sure?')" class="main-btn icon-btn"><i class="fa fa-close"></i></a></td>
                                </tr>

                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>SUBTOTAL</th>
                                <th colspan="2" class="sub-total"> $ {{ total }}</th>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>SHIPING</th>
                                <td colspan="2">Free Shipping</td>
                            </tr>
                            <tr>
                                <th class="empty" colspan="3"></th>
                                <th>TOTAL</th>
                                <th colspan="2" class="total">$ {{ total }}</th>
                            </tr>
                            </tfoot>
                        </table>
                        <div class="pull-right">
                            <a href="#" class="primary-btn">Place Order</a>
                        </div>
                    </div>

                </div>


            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->




{% endblock %}
